#div1 {
  top: 5%;
  left: 2%;
  position: absolute;
  border: 3px solid black;
  background-color: white;
  width: 35%;
  height: 40%;
}
#div2 {
  top: 20%;
  left: 20%;
  position: absolute;
  border: 3px solid black;
  background-color: white;
  width: 30%;
  height: 60%;
}
#div3 {
  top: 55%;
  left: 2%;
  position: absolute;
  border: 3px solid black;
  background-color: white;
  width: 80%;
  height: 35%;
}
#div4 {
  top: 5%;
  left: 60%;
  position: absolute;
  border: 3px solid black;
  background-color: white;
  width: 15%;
  height: 95%;
}
